.about {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: $main-color;
    overflow-y: scroll;

    &.idle {
        pointer-events: none;
        top: -100%;
        // animation-name: pullUp;
        // transition: top 0.5s cubic-bezier(0.85, 0.135, 0.15, 0.5);
    }

    &.active-screen {
        top: 0;
        // animation-name: pullDown;
        // transition: top 0.5s cubic-bezier(0.85, 0.135, 0.15, 0.5);

        .close-button {
            font-size: $ds-font-size-large;
            opacity: 1;
            bottom: ds-rem-calc(40);

            // &:hover {
            //     opacity: 1;
            //     bottom: ds-rem-calc(30);
            // }
        }
    }

    &__content {
        position: relative;
        width: 100%;
        &__box {
            margin-top: ds-rem-calc(45);

            @include ds-breakpoint(medium) {
                margin-top: ds-rem-calc(65);
            }

            @include ds-breakpoint(large) {
                margin-top: ds-rem-calc(90);
            }

            .person-img {
                text-align: center;

                img {
                    border: 2px solid $main-color;
                    width: 200px;
                    border-radius: 200px;
                }
                .z-depth-1 {
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                }
            }

            .social {
                list-style: none;
                margin: ds-rem-calc(20) 0 0;
                padding: 0;

                @include ds-breakpoint(medium) {
                    margin-top: ds-rem-calc(25);
                }

                @include ds-breakpoint(large) {
                    margin-top: ds-rem-calc(35);
                }

                li {
                    color: $light;
                    display: inline-block;

                    &:after {
                        font-size: ds-rem-calc(12);
                        content: "/";
                        display: inline-block;
                        margin-left: ds-rem-calc(5);
                        vertical-align: middle;
                    }

                    &:last-of-type {
                        &:after {
                            display: none;
                        }
                    }

                    a {
                        display: inline-block;
                        overflow: hidden;
                        color: $light;
                        font-size: ds-rem-calc(16);
                        line-height: ds-rem-calc(16);
                        height: ds-rem-calc(18);
                        vertical-align: middle;

                        span {
                            position: relative;
                            display: inline-block;
                            transition: transform 0.4s cubic-bezier(0.85, 0.135, 0.15, 0.5);

                            &:before {
                                position: absolute;
                                top: 200%;
                                content: attr(data-hover);
                                transform: translate3d(0, 0, 0);
                                font-size: ds-rem-calc(16);
                                line-height: ds-rem-calc(16);
                                color: $black;
                            }
                        }

                        &:hover,
                        &:focus {
                            opacity: 1;
                            span {
                                transform: translateY(-200%);
                            }
                        }
                    }
                }
            }

            .exp-wrap {
                width: 100%;
                border-bottom: 1px solid $light;
                float: left;

                .desc {
                    float: left;
                    width: calc(100% - 150px);

                    h4 {
                        span {
                            color: $light;
                            font-weight: $ds-font-weight;
                        }
                    }

                    .location {
                        margin-bottom: 0;
                    }
                }

                .year {
                    float: left;
                    margin-top: 16px; 
                    width: 150px;
                    text-align: right;
                }
            }

            .progress-wrap {
                margin-bottom: 30px;

                h4 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }

            .progress {
                height: 4px;
                -webkit-box-shadow: none;
                box-shadow: none;
                background: $light;
                overflow: visible;
                border-radius: 0;
            }

            .progress-bar {
                background: $blue;
                -webkit-box-shadow: none;
                box-shadow: none;
                line-height: 1.2;
                color: $light;
                font-weight: $ds-font-weight;
                text-align: right;
                position: relative;
                overflow: visible;
                border-radius: 30px;

                span {
                    position: absolute;
                    top: -34px;
                    right: 0;
                    color: $light;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: -3px;
                    right: 0;
                    width: 10px;
                    height: 10px;
                    background: $blue;
                    border-radius: 50%;
                }

                .color-1 {
                    background: $blue;
                }
            }

            &.last {
                margin-bottom: ds-rem-calc(100);

                @include ds-breakpoint(medium) {
                    margin-bottom: ds-rem-calc(120);
                }

                @include ds-breakpoint(large) {
                    margin-bottom: ds-rem-calc(150);
                }
            }

            &.first {
                margin-top: ds-rem-calc(90);

                @include ds-breakpoint(medium) {
                    margin-top: ds-rem-calc(90);
                }

                @include ds-breakpoint(large) {
                    margin-top: ds-rem-calc(120);
                }
            }
        }
    }
}
